body {
    margin: 0;
    padding: 0;
}

h2{
    text-align: center;
}
.salida{
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    width: 30%;
    height: 8rem;
    margin: 1rem 35%;
    border: solid 1px;
    letter-spacing: 0.2rem;
    text-shadow: 1px 0 0  #000, -1px 0 0  #000,  0 1px 0  #000, 0 -1px 0  #000,1px 1px 0  #000,-1px -1px 0  #000,-1px 1px 0  #000
}
.color-div{
    text-align: center;
}